<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="putty" />
    <package id="7zip" />
    <package id="googlechrome" />
    <package id="vlc" />  
    <package id="paint.net" />
    <package id="sumatrapdf.commandline" />
    <package id="irfanview" />
    <package id="tightvnc" /> 
    <package id="openvpn" />
    <package id="lockhunter" />
    <package id="imageresizerapp" />
    <package id="" />
</packages>
